@import "./scss/ut--responsive.scss";
@import "./scss/ut--variables.scss";
@import "./scss/ut--buttons.scss";
@import "./scss//ut--mixins.scss";
@import "./scss/ut--inputs.scss";
@import "./scss/c-site-header.scss";
@import "./scss/c-site_single-plant";

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: $font-family;

  p {
    font-size: 14px;
  }
}

.priority {
  color: red;
}

.c-site-content {
  margin: 20px;
}

.c-form {
  input {
    margin: 5px;
  }

  textarea {
    margin: 5px;
  }

  button {
    margin: 5px;
  }
}

// .c-image-upload--display {
//   width: 100px;
//   height: auto;

//   img {
//     width: 100%;
//     height: auto;
//   }
// }

// .c-image-upload--zone {
//   position: relative;
//   width: 300px;
//   height: 50px;
//   border-style: dashed;
//   margin: 20px 0;
//   text-align: center;

//   #c-image-upload-input {
//     width: 100%;
//     height: 100%;
//     top: 0px;
//     left: 0px;
//     position: absolute;
//     color: transparent;
//     opacity: 0;
//   }

//   p {
//     color: grey;
//   }
// }
// .progress-bar {
//   border: 1px solid #000;
//   background-color: white;
// }

// .progress-bar--hid {
//   display: none;
// }
