@import "./scss/ut--responsive.scss";
@import "./scss/ut--variables.scss";
@import "./scss/ut--buttons.scss";
@import "./scss/ut--mixins.scss";
@import "./scss/ut--inputs.scss";
@import "./scss/ut--lists.scss";
@import "./scss/c-site-header.scss";
@import "./scss/c-site_single-plant.scss";
@import "./scss/c-image-upload.scss";
@import "./scss/c-site-catalogue.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: $font-family;
}

.priority {
  color: red;
}

.c-site-content {
  margin: 20px;
}

hr {
  margin: 10px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(13, 164, 78, 0),
    rgba(13, 164, 78, 0.75),
    rgba(13, 164, 78, 0)
  );
}
