@import "./scss/ut--responsive.scss";
@import "./scss/ut--variables.scss";
@import "./scss/ut--buttons.scss";
@import "./scss/ut--mixins.scss";
@import "./scss/ut--inputs.scss";
@import "./scss/ut--lists.scss";
@import "./scss/c-login-site.scss";
@import "./scss/c-site-header.scss";
@import "./scss/c-site_single-plant.scss";
@import "./scss/c-image-upload.scss";
@import "./scss/c-site-catalogue.scss";
@import "./scss/c-site-footer.scss";
@import "./scss/c-site-add-form.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: $font-family;
}

.priority {
  color: red;
}

.c-content {
  @include mobileLandscape {
    height: 500px;
    background: url(./components/utilities/img/background-img-mobile.jpg) bottom
      no-repeat;
  }
}

.c-site-content {
  margin: 20px 20px 50px;
}

hr {
  margin: 10px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(13, 164, 78, 0),
    rgba(13, 164, 78, 0.75),
    rgba(13, 164, 78, 0)
  );
}

.img-loader {
  text-align: center;
}

.img-loader--main {
  margin-top: 20px;
}
