@import "./scss/ut--responsive.scss";
@import "./scss/ut--variables.scss";
@import "./scss/ut--buttons.scss";
@import "./scss/ut--mixins.scss";
@import "./scss/ut--inputs.scss";
@import "./scss/ut--lists.scss";

.c-login-site {
  @include flex(column, nowrap, center, center);

  width: 60%;
  margin: 20px auto;

  @include mobileLandscape {
    width: 100%;
  }

  h3 {
    font-weight: lighter;
    text-transform: uppercase;
  }
}

.c-login-form {
  margin-top: 10px;
  text-align: center;
}

.login-btn {
  margin: auto;
}
