@import "./scss/ut--responsive.scss";
@import "./scss/ut--variables.scss";
@import "./scss/ut--buttons.scss";
@import "./scss/ut--mixins.scss";
@import "./scss/ut--inputs.scss";
@import "./scss/ut--lists.scss";

.c-login-site {
  @include flex(column, nowrap, center, center);

  width: 60%;
  margin: 20px auto;

  @include mobileLandscape {
    width: 100%;
  }

  p {
    color: $brand-color;
  }

  h3,
  h4 {
    font-weight: lighter;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    color: $brand-color;

    &:hover {
      opacity: 0.7;
    }
  }
}

.c-login-form {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.login-btn {
  margin: auto;
}

.login-btn--password {
  margin-top: 25px;
}

.login-btn--disabled {
  opacity: 0.7;
}
