@import "./ut--mixins.scss";
@import "./ut--variables.scss";
@import "./ut--responsive.scss";

.c-single-plant {
  display: block;

  h2 {
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: 300;
  }
}

.c-single-plant-title {
  @include flex(row, nowrap, space-between, center);
}

.c-plant-view-tags {
  @include flex(row, nowrap, flex-start, flex-start);
  margin-bottom: 15px;

  p {
    margin-right: 10px;
    font-size: 1.2rem;
  }
}

.c-single-plant-description {
  @include flex(row, nowrap, space-between, center);

  margin: 15px auto;
  padding: 10px 0;

  button {
    margin: 10px 0;
  }
}

.c-timeline-list-display {
  h3 {
    @include mobile {
      font-size: 14px;
    }
  }
}

.c-single-plant-gallery {
  @include flex(row, wrap, flex-start, flex-start);

  .gallery-item {
    width: 30%;
    height: auto;
    margin: 15px auto;
    padding: 5px;
    border: 1px solid $brand-color-light;
    border-radius: 5px;
    align-self: center;

    @include mobileLandscape {
      width: 100%;
      height: auto;
    }

    img {
      width: 100%;
      height: auto;
    }

    p {
      margin-top: 5px;
    }
  }
}
