@import "./ut--mixins.scss";
@import "./ut--variables.scss";
@import "./ut--responsive.scss";

.c-site-header {
  // height: 81.4px;
  padding: 15px;
  background: $brand-color;
  background: linear-gradient(
    90deg,
    rgba(0, 82, 121, 1) 0%,
    rgba(12, 159, 80, 1) 0%,
    rgba(13, 164, 78, 1) 35%,
    rgba(11, 156, 108, 1) 100%,
    rgba(9, 151, 128, 1) 100%,
    rgba(5, 141, 168, 1) 100%
  );
}

.c-site-header-inner {
  @include flex(row, nowrap, space-between, center);

  a {
    text-decoration: none;
  }
}

.c-site-header-logo {
  @include flex(row, nowrap, flex-start, center);

  height: 50px;
  width: auto;

  img {
    height: 100%;
    width: auto;
    border-radius: 50px;
  }

  h2 {
    margin-left: 10px;
    font-family: $heading-font-family;
    font-size: 30px;
    letter-spacing: 2px;
    color: #fff;
  }
}

.c-site-nav {
  ul {
    @include flex(row, nowrap, flex-start, baseline);
    list-style: none;

    li {
      padding: 5px 10px;
      color: #fff;
      font-size: $mediumFontSize;
      font-weight: lighter;

      a {
        @include links(#fff, #fff, #fff, #fff);
        position: relative;
        display: block;
      }

      a:hover::after {
        content: " ";
        position: absolute;
        top: 30px;
        padding: 3px;
        font-size: 10px;
        text-transform: uppercase;
        color: white;
        background-color: transparent;
        text-align: center;
        z-index: 1;
      }

      a.active:hover::after {
        top: 20px;
        transform: scale(0.6);
      }

      h2 {
        font-family: $heading-font-family;
        font-size: 30px;
        letter-spacing: 2px;
      }
    }
  }
}

a#addForm:hover::after {
  content: "dodaj roślinę";
  width: 80px;
  left: -30px;
}

a#catalog:hover::after {
  content: "katalog roślin";
  width: 80px;
  left: -30px;
}

a#toDoList:hover::after {
  content: "ToDoList";
  width: 50px;
  left: -15px;
}

a#wishList:hover::after {
  content: "wishlist";
  width: 50px;
  left: -15px;
}

a#about:hover::after,
a#about2:hover::after {
  content: "info";
  width: 30px;
  left: -5px;
}

.active {
  transform: scale(1.7);
}
