.list-display {
  width: 60%;

  @include mobile {
    width: 100%;
  }

  ul {
    list-style-type: none;
    li {
      @include flex(row, wrap, flex-start, baseline);
      padding: 10px 0;

      .list-star {
        color: $brand-color;
        margin-right: 5px;
      }

      .list-add-text {
        margin-left: 20px;
      }
    }
  }
}
