@import "./ut--responsive.scss";

//SETTINGS FONT
$font-family: "Source Sans Pro", sans-serif;
// "Montserrat", sans-serif;
// "helvetica neue", "Calibri", helvetica, arial,
//   sans-serif;
$heading-font-family: "Fira Sans", sans-serif;
// $nav-font-family: "Poppins", "helvetica neue", "Calibri", helvetica, arial,
//   sans-serif;
// $btn-font-family: "Poppins", "helvetica neue", "Calibri", helvetica, arial,
//   sans-serif;
$nav-font-family: $font-family;

@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Source+Sans+Pro:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");

// SETTINGS COLORS

$brand-color: #0da44e;
$brand-color-light: #7dae92;
$text-color: #111;

$btn-color: #1abc9c;
$btn-text-color: #000;

// TEXT SIZE
$smallFontSize: 0.5rem;
$mediumFontSize: 1.5rem;
$largeFontSize: 2rem;

//HEADINGS
h1 {
  font-family: $heading-font-family;
  font-weight: 300;
  text-transform: uppercase;
}

// OBJECT CONTAINERS
$containerPaddings: (
  mobile: 15px,
  tablet: 15px,
  desktop: 15px
) !default;

$containerWidths: (
  mobile: 100%,
  tablet: 768px,
  tabletWide: 1024px,
  desktop: 1110px + map-get($containerPaddings, desktop) * 2
) !default;

$containerNarrowWidths: (
  mobile: 100%,
  tablet: 768px,
  tabletWide: 1024px,
  desktop: 800px + map-get($containerPaddings, desktop) * 2
) !default;

$containerWidePaddings: (
  mobile: 15px,
  tablet: 15px,
  desktop: 30px
) !default;

$containerWideWidths: (
  mobile: 100%,
  tablet: 768px,
  tabletWide: 1024px,
  desktop: 1310px + map-get($containerWidePaddings, desktop) * 2
) !default;

.o-container-wide {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.o-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: 100%;
  }
}
