.btn {
  margin: 5px 10px;
  padding: 10px;
  border: 1px solid $brand-color;
  background-color: $brand-color;
  color: white;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}

.btn--edit {
  margin-left: 30px;
  padding: 5px;
  border: none;
  background-color: transparent;
  opacity: 0.5;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.btn--remove {
  margin-left: 20px;
  padding: 5px;
  border: none;
  background-color: transparent;
  opacity: 0.5;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}
