@import "./ut--mixins.scss";
@import "./ut--variables.scss";
@import "./ut--responsive.scss";

.list-display {
  width: 80%;

  @include mobile {
    width: 100%;
  }

  .list--reverse {
    @include flex(column-reverse, nowrap, flex-start, flex-start);
  }

  ul {
    @include flex(column, nowrap, flex-start, flex-start);
    list-style-type: none;
    li {
      @include flex(row, wrap, flex-start, center);
      padding: 10px 0;

      .list-star {
        color: $brand-color;
        margin-right: 5px;
      }

      h3 {
        @include mobile {
          font-size: 14px;
        }
      }

      .list-add-text {
        margin-left: 20px;
      }

      .list-image {
        max-width: 150px;
        height: auto;

        img {
          width: 100%;
          height: auto;
          padding: 5px;
          border: 1px solid $brand-color;
          border-radius: 5px;
        }
      }
    }
  }
}
