.btn {
  margin: 5px 10px;
  padding: 10px;
  border: 1px solid $brand-color;
  border-radius: 5px;
  background-color: $brand-color;
  color: white;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
}

.btn--edit {
  margin-left: 5px;
  padding: 5px;
  border: none;
  background-color: transparent;
  color: $brand-color;
  opacity: 0.5;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.btn--remove {
  margin-left: 20px;
  padding: 5px;
  border: none;
  background-color: transparent;
  color: $brand-color;
  opacity: 0.5;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

.btn--remove-preview {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  opacity: 1;
  cursor: pointer;
}

.btn--select {
  margin: 5px;
  padding: 5px;
  border: 1px solid $brand-color;
  border-radius: 5px;
  background-color: white;
  color: $brand-color;
}
